* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #EDEDED;
  padding: 10px;
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top .topHead-left a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.12em;
  padding-bottom: 12px;
  color: #231F20;
}
header .header-top .topHead-left .lang-btn {
  position: relative;
}
header .header-top .topHead-left .lang-btn span i {
  margin-left: 1px;
  font-size: 10px;
  font-weight: 600;
}
header .header-top .topHead-left .lang-dropDown {
  position: absolute;
  top: 60px;
  z-index: 10000;
  display: none;
  left: 100px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  width: 40px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
header .header-top .topHead-left .lang-dropDown a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
header .header-top .topHead-left .row-in-the-middle {
  color: #EDEDED;
}
header .header-top .topHead-left .search-btn {
  margin-left: 30px !important;
}
header .header-top .topHead-left .search-btn span {
  margin-right: 7px;
}
header .header-top .topHead-left .search-btn span i {
  font-size: 15px;
  color: #FAA61A;
}
header .header-top .topHead-right a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.12em;
  padding-bottom: 12px;
  color: #231F20;
}
header .header-top .topHead-right a .span-image img {
  width: 16px;
  margin-right: 5px;
}
header .header-top .topHead-right .location-btn .location-icon i {
  margin-left: 1px;
  font-size: 10px;
  font-weight: 600;
}

.active-btn {
  border-bottom: 2px solid #FAA61A;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.search-overlay.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.search-container {
  position: fixed;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-input {
  width: 637px;
  padding: 5px 28px;
  border-radius: 5px;
  border: none;
}

.search-icon-wrapper {
  position: absolute;
  left: 5px;
}
.search-icon-wrapper i {
  color: #FAA61A;
}

.search-submit {
  color: #FFF;
  width: 150px;
  padding: 6px 0;
  margin-left: 10px;
  background-color: #FAA61A;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */